Workflows/mandatoryOfficesPOC-Sync-UID-68155528-228D-EE11-8179-001DD810548E.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "sdg_TravisSykesSHAREPOINT"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "OBOF-DS-mandatoryOfficesPOC (sdg_OBOFDSmandatoryOfficesPOC)": {
          "defaultValue": "1b15b097-3400-43a2-aa66-c890ece17f6a",
          "type": "String",
          "metadata": {
            "schemaName": "sdg_OBOFDSmandatoryOfficesPOC",
            "description": "Clearing Offices Point of Contact List"
          }
        },
        "OBOF-StorageLocationURL (sdg_OBOFStorageLocationURL)": {
          "defaultValue": "https://dod365.sharepoint-mil.us/sites/DCMA-SB-Collaboration",
          "type": "String",
          "metadata": {
            "schemaName": "sdg_OBOFStorageLocationURL",
            "description": "OBOF Storage Location URL"
          }
        },
        "OBOF-DS-templateOutProcessingChecklist (sdg_OBOFDStemplateOutProcessingChecklist)": {
          "defaultValue": "80141462-d20f-47b8-a344-dcf14eb05262",
          "type": "String",
          "metadata": {
            "schemaName": "sdg_OBOFDStemplateOutProcessingChecklist",
            "description": "Out-Processing Checklist Templates"
          }
        }
      },
      "triggers": {
        "getModified": {
          "recurrence": {
            "interval": 1,
            "frequency": "Minute"
          },
          "splitOn": "@triggerOutputs()?['body/value']",
          "metadata": {
            "operationMetadataId": "8cd8069e-bca6-4ccd-b869-89720367bb27"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline",
              "operationId": "GetOnUpdatedItems",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "@parameters('OBOF-StorageLocationURL (sdg_OBOFStorageLocationURL)')",
              "table": "@parameters('OBOF-DS-mandatoryOfficesPOC (sdg_OBOFDSmandatoryOfficesPOC)')"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "templateOutProcessingChecklist_-_Filter_Query_by_assignment_=_role": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "08f1ec14-d26d-4be9-a506-ee98d21c51de"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline",
              "operationId": "GetItems",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "@parameters('OBOF-StorageLocationURL (sdg_OBOFStorageLocationURL)')",
              "table": "@parameters('OBOF-DS-templateOutProcessingChecklist (sdg_OBOFDStemplateOutProcessingChecklist)')",
              "$filter": "assignment eq '@{triggerOutputs()?['body/Role/Value']}'",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Condition": {
          "actions": {
            "Apply_to_each": {
              "foreach": "@outputs('templateOutProcessingChecklist_-_Filter_Query_by_assignment_=_role')?['body/value']",
              "actions": {
                "Update_item": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "d6d429cd-cdb2-486a-bf29-47f4a9971ca4"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_sharepointonline",
                      "operationId": "PatchItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                    },
                    "parameters": {
                      "dataset": "@parameters('OBOF-StorageLocationURL (sdg_OBOFStorageLocationURL)')",
                      "table": "@parameters('OBOF-DS-mandatoryOfficesPOC (sdg_OBOFDSmandatoryOfficesPOC)')",
                      "id": "@triggerOutputs()?['body/ID']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "3da568b8-acc7-49fc-b79d-293260e7371a"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "templateOutProcessingChecklist_-_Filter_Query_by_assignment_=_role": [
              "Succeeded"
            ]
          },
          "expression": {
            "equals": [
              "@empty(triggerOutputs()?['body/uid'])",
              true
            ]
          },
          "metadata": {
            "operationMetadataId": "9f5adc56-569d-46e4-b8d3-c088baf2f5ee"
          },
          "type": "If"
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}